
<div class="modal fade" id="cart-corrector-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="close-custom-modal">                
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>



        <p class="z1-catalog p3-mob-1">Платье "Весна"</p>

      <div class="modal-body">
                <div class="container custom-body-modl-12">
             <div class="row">
                 <div class="col-sm-12 filtr-karta">
                     <p class="z1-catalog">Платье "Весна"</p>
                     <p class="desc-karta-z">описание</p>
                     <p class="desc-karta">
                     Модное мини-платье с красивым переходом расцветок и милой вставкой в талии. Сзади застежка на скрытую молнию. На подкладке. Длина ок. 136 см                             (разм. 38). верх: 100% полиэстер, подкладка: 100% полиэстер</p>
                     <div class="col-sm-6 max-img">
                       <img src="/static/images/big-good.png" alt="alt">
                     </div>
                     <div class="col-sm-6 filtr-karta-size">
                     
                         <p class="desc-karta-z">размер</p>
                         <div class="clearfix">
                         <a href="#">xs</a>
                         <a class="active" href="#">s</a>
                         <a href="#">m</a>
                         <a href="#">l</a>
                         <a href="#">xl</a>
                         </div>
                        <p class="desc-karta-z">цена</p>
                         <p class="desc-karta-p">1500 грн</p>
                         <input type="button" name="button" value="в корзину" class="to-cart-p3 to-cart-p3-1">
                         <input type="button" name="button" value="в корзину" class="to-cart-p3">
                     </div>
                 </div>
             </div>
         </div>
      </div>
    </div>
  </div>
</div>
